* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/People\ sitting\ at\ bookshelves\ and\ reading\ books\ in\ bookstore\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    position: relative;

}

.form {
    position: absolute;
    width: 90%;
    display: block;
    justify-content: end;
    max-width: 450px;
    top: 50%;
    left: 74%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px 60px 70px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;

}

.form h1 {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 35px;
    color: rgb(8 88 66);
    position: relative;
}

.form h2 {
    font-size: 25px;
    margin-bottom: 7px;
    position: relative;
    color: #7ac34d;
    font-family: sans-serif;
    font-weight: 700;
}

img {
    max-width: 50%;
    height: auto;
}

.form h3 {
    font-size: 18px;
    margin-bottom: 11px;
    position: relative;
    color: #8b4d28;
    font-family: sans-serif;
    font-weight: 100;
}

.input {
    background: #eaeaea;
    margin: 15px 0;
    display: flex;
    align-items: center;
    background-color: #b7efd4;
    border-radius: 40px;
}

input {
    margin-left: 10px;
    width: 95%;
    border: 0;
    outline: 2;
    padding: 18px 15px;
    border-radius: 40px;
    background-color: #b9efd5;
    color: black;
    font-weight: 700;
    font-family: cursive;
}

.input i {
    margin-left: 20px;
    margin-right: 5px;
    color: rgb(8 88 66);

}

.wrap button {
    font-size: large;
    flex-basis: 48%;
    text-size-adjust: 30;
    background-color: rgb(8 88 66);
    color: white;
    height: 45px;
    width: 85px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    box-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;

}

button a {
    font-size: large;
    text-size-adjust: 30;
}

label {
    font-size: large;
    margin-left: 20px;
    margin-right: 0px;
    text-align: left;
    width: 240px;
    border-radius: 40px;
    color: rgb(8 88 66);

}

input ::placeholder {
    color: #7ac34d;
}

.invalidinput {
    color: red;
    font-size: 13px;
}