<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>e BookNest | Add book</title>
    <link rel="icon" type="image/x-icon" href="{% static 'image/logopng-removebg.ico'%}">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div>
        <nav class="navbar" id="navbar">

        </nav>

    </div>


    <div class="add">
        <form action = "{% url 'home' user.id %}" id="form" target = "_blank">




        </form>
    </div>
    <script>


        document.getElementById("navbar").innerHTML = `<div class="logoandsearch">
    <a href="../home_page/home.html" class="LogoIcon">
<img src="{%static 'image/logopng-removebg.png'%}" alt="can't display image">
</a>
<a href="../home_page/home.html" class="Logo">eBookNest</a>

</div>

<div class="bottomline">
<a href="../home_page/home.html" class="quick" title="Admin Homepage">Home</a>
<a href="add.html" class="quick" title="add a new book" style="
color: #ffffff;
text-decoration: underline;
font-size: 38px;
color: burlywood;
padding-bottom: 0px;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
text-underline-offset: 12.5px;">Add Book</a>

<a href="Edit.html" class="quick" title="edit an existing book">Edit Book</a>

<a href="delete.html" class="quick" title="remove a book from the list">Delete Book</a>


<a href="../html/main-sign-page.html" class="quick" title="log out">Sign Out</a>
<label for="Search" class="srch">Search:</label>
<input type="text" id="SBar" name="Search Bar" placeholder="Search for a book title...">
</div>
`;
        navbar = document.getElementById("form");
        navbar.style.top = "49%"
        navbar.innerHTML = `<div class="input">
    <label for="BookId"> Book Id:</label>
        <input type="text" required name="BookId" placeholder="Enter book id" id="BookIdinp" name="bookid" autofocus>
    </div>
        
        <br>
        <br>
        
    <div class="input"> 
    <label for="BookName"> Book Title:</label>
        <input type="text" required name="BookName" placeholder="Enter book's title" id="BookName">
    </div>
        
        <br>
        <br>
        
    <div class="input">
    <label for="author"> Book's author:</label>
        <input type="text" required name="author" placeholder="Enter book's author" id="author">
    </div>
        
        <br>
        <br>
        
    <div class="input">
    <label for="BookCategory"> Book Category:</label>
        <input type="text" required name="BookCategory" placeholder="Enter book's category" id="BookCategory">
    </div>
        
        <br>
        <br>

        <div class="input">
    <label for="BookPages"> Book Pages:</label>
        <input type="number" required name="numberOfPages" placeholder="Enter book's number of pages" id="BookPages">
    </div>
        
        <br>
        <br>
        
    <div class="input">
    <label for="BookDescription"> Book Description:</label>
        <textarea name="comment--" id="BookDescription" cols="30" rows="10"
            placeholder="write book description"></textarea>
        </div>
        
        <br>
        <br>
        
    <div class="input"> 
    <label for="BookCover">Put book's cover image: </label>
        <input type="file" id="BookCover"  accept="image/jpg, image/png, image/jpeg, image/webp">
    </div>
        
        <br>
        <br>
        <p class="invalidinput"></p>
        <div class="box"> <div class="wrap">
            <button type="submit" id = "addbtn" onclick = "add({{user.id}})">
                Submit
            </button>
        </div>
        <div class="wrap">
            <button type="submit">
                Reset
            </button>
        </div>
    </div>`;
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function add(userId){
            const BOOK = {
                'ID': document.getElementById(`BookIdinp`).value,
                'Title': document.getElementById(`BookName`).value,
                'Author': document.getElementById(`author`).value,
                'Category': document.getElementById(`BookCategory`).value,
                'Pages': document.getElementById(`BookPages`).value,
                'Description': document.getElementById(`BookDescription`).value,
                'Cover': document.getElementById(`BookCover`).value.replace(`C:\\fakepath\\`, "")
            }
            const dataa = new FormData();
            dataa.append(`image`,document.getElementById(`BookCover`).files[0])
            dataa.append('str',JSON.stringify(BOOK))
            console.log(dataa)
            fetch('/savebook/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: dataa
            })
                .then(res => res.json())
                .then(js => {
                    if (js.status == 'success') {
                        location.href = `http://127.0.0.1:8000//home/${userId}`
                    }
                    else {
                        event.preventDefault()
                        document.getElementsByClassName('invalidinput')[0].innerText = js.message
                    }
                })
                .catch(error => console.log(error))
        }
    </script>
</body>

</html>