<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>e BookNest | Book</title>
{% load static %}
<link rel="icon" type="image/x-icon"  href="{% static 'image/logopng-removebg.ico' %}">
<link rel="stylesheet" href="{% static 'css/available.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="Form">
      <nav class="navbar" id="navbar">
  
        {% if user.isUser %}
        <div class="logoandsearch">
          <a href="../home_page/home.html" class="LogoIcon" onclick="UserHomeuser()">
            <img src="{% static 'image/logopng-removebg.png' %}" alt="can't display image">
          </a>
          <a href="{% url 'home' user.id %}" class="Logo" onclick="AdminHomeuser()">eBookNest</a>
      </div>
      <div class="bottomline">
          <a href="{% url 'home' user.id %}" class="quick" title="Admin Homepage"  onclick="UserHomeuser()">Home</a>
              
          <a href="{% url 'Availableallbooks' user.id %}" class="quick"style="
          color: #ffffff;
          text-decoration: underline;
          font-size: 35px;
          color: burlywood;
          padding-bottom: 0px;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          text-underline-offset: 15.25px;" title="Available books">Available books</a>
          <a href="{% url 'Borrowedbooks' user.id %}" class="quick" title="Borrow books">Borrow books</a>
  
          
  
          <a href="{% url 'index' %}" class="quick" title="log out">Sign Out</a>
          <label for="Search" class="srch">Search:</label>
        <input type="text" id="SBarU" name="Search Bar" placeholder="Search for a book...">
      </div>
        {% else %}
        <div class="logoandsearch">
          <a href="{% url 'home' user.id %}" class="LogoIcon" onclick="AdminHomeuser()">
            <img src="{% static 'image/logopng-removebg.png' %}" alt="can't display image">
          </a>
          <a href="{% url 'home' user.id %}" class="Logo" onclick="AdminHomeuser()">eBookNest</a>
      </div>
      <div class="bottomline">
        <a href="{% url 'home' user.id %}" class="quick" title="Admin Homepage">Home</a>
          <a href="{% url 'addBook' user.id %}" class="quick" title="add a new book">Add Book</a>
          <a href="{% url 'selectBook' user.id %}" class="quick" title="edit an existing book">Edit Book</a>
          <a href="{% url 'deletePage' user.id %}" class="quick" title="remove a book from the list">Delete Book</a>
          
          <a href="{% url 'index' %}" class="quick" title="log out">Sign Out</a>
          <label for="Search" class="srch">Search:</label>
        <input type="text" id="SBarA" name="Search Bar" placeholder="Search for a book...">
      </div>
        {% endif %}
      </nav>
      <hr>
      </div>
      <div class="availablebooks" id="availablebooks">
        {% for book in books %}
        {% if not user.isUser %}
        <div class="cards" id="book{{book.id}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{{book.BookCover.url}}" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>{{book.Book_name}}</h1>
                <p>{{book.description}}</p>
                <a href="{% url 'bookdetails' book.id  user.id %}" class="see">
                  See More..
                </a>
              </div>
            </div>
          </div>
          <p>{{book.Book_name}}</p>
          <div class="Edit_Delete_buttns">
            <button class="buttns" onclick="location.href='{% url 'EditBook' user.id book.id %}'"><a
              style="color : white; font-family: sans-serif;font-style: normal;">Edit</a></button>
            <button class="buttns" Category = "{{category}}" onclick="deleteBook({{ book.id }})" id = "Delete_btn"><i class="fa fa-trash-o" style="font-size:25px"></i></button>
          </div>
        </div>
        {% else %}
        {% if book.Available %}
        <div class="card" id="bookU{{ book.id }}">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{ book.BookCover.url }}" alt="Book Cover" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>{{ book.Book_author }}</h1>
                        <p>{{ book.description }}</p>
                        <a href="{% url 'bookdetails' book.id  user.id %}" class="see">
                          See More..
                      </a>
                    </div>
                </div>
            </div>
            <p>{{ book.Book_name }}</p>
            <button onclick = "toggleAvailability({{book.id}})">Borrow</button>
        </div>
    {% endif %}
        {% endif %}
        {% endfor %}
        {% comment %} {% for book in books %}
          {% if not user.isUser %}
          <div class="card" id="book{{ book.id }}">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{ book.BookCover.url }}" alt="Book Cover" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>{{ book.Book_author }}</h1>
                        <p>{{ book.description }}</p>
                        <a href="{% url 'bookdetails' book.id  user.id %}" class="see">
                          See More..
                        </a>
                    </div>
                </div>
            </div>
            <p>{{ book.Book_name }}</p>
              <div class="Edit_Delete_buttns">
                <button class="buttns" onclick = "location.href='{% url 'EditBook' book.id %}'"><a style = "color : white; font-family: sans-serif;font-style: normal;">Edit</a></button>
                <button class="buttns" Category = "{{category}}" onclick="deleteBook({{ book.id }})" id = "Delete_btn"><i class="fa fa-trash-o" style="font-size:25px"></i></button>
              </div>
          {% else %}
                {% if book.Available %}
                  <div class="card" id="book{{ book.id }}">
                  <div class="flip-card">
                      <div class="flip-card-inner">
                          <div class="flip-card-front">
                              <img src="{{ book.BookCover.url }}" alt="Book Cover" style="width:300px;height:300px;">
                          </div>
                          <div class="flip-card-back">
                              <h1>{{ book.Book_author }}</h1>
                              <p>{{ book.description }}</p>
                              <a href="{% url 'bookdetails' book.id  user.id %}" class="see">
                                See More..
                            </a>
                          </div>
                      </div>
                  </div>
                  <p>{{ book.Book_name }}</p>
                  <button onclick = "toggleAvailability({{book.id}})">Borrow</button>
                {% endif %}
          {% endif %}
        {% endfor %} {% endcomment %}
      </div>
        <br>
    <script>
      var categories = [], books = [];
      document.addEventListener("DOMContentLoaded", function () {
        Promise.all([
          fetch('/api/books/').then(response => response.json()),
          fetch('/api/categories/').then(response => response.json())
        ])
          .then(([booksData, categoriesData]) => {
            books = booksData;
            categories = categoriesData;
            for (cat in categories) {
              for (book in books) {
                if (books[book].Category_id == categories[cat].id) {
                  books[book].CategoryName = categories[cat].Category_name
                }
              }
            }
          })
          .catch(error => console.log('Error fetching data:'));
      });
      if("{{user.isUser}}" == "True")
      {const searchU = document.getElementById(`SBarU`);
        searchU.addEventListener(`keyup`, (event) => {
          let bookElems;
          let i = 0
          for (ktab in books) {

            if(books[ktab].Available ){
              console.log(books)
              console.log(`bookU${books[ktab].id}`)
              bookElems = document.getElementById(`bookU${books[ktab].id}`)
              console.log(bookElems)
              if (books[ktab].Book_name.toLowerCase().includes(searchU.value.toLowerCase()) || books[ktab].CategoryName.toLowerCase().includes(searchU.value.toLowerCase()) || books[ktab].Book_author.toLowerCase().includes(searchU.value.toLowerCase())) {
                i++
                bookElems.style.display = `block`
                console.log(searchU.value)
                console.log(i)
              }
              else {
                bookElems.style.display = `none`
              }
              console.log(bookElems)}
          }
        })
      }
      else{const searchA = document.getElementById(`SBarA`);
      searchA.addEventListener('keyup', (event) => {
        let bookElems;
          let i = 0
          for (ktab in books) {

              
              bookElems = document.getElementById(`book${books[ktab].id}`)
              if (books[ktab].Book_name.toLowerCase().includes(searchA.value.toLowerCase()) || books[ktab].CategoryName.toLowerCase().includes(searchA.value.toLowerCase()) || books[ktab].Book_author.toLowerCase().includes(searchA.value.toLowerCase())) {
                i++
                bookElems.style.display = `block`
              }
              else {
                bookElems.style.display = `none`
              }
          }
      })}
      
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      function toggleAvailability(bookId){
        fetch(`/Convert/${bookId}`, {
          method: 'PATCH',
          headers: {
              'X-CSRFToken': getCookie('csrftoken'),
              'Content-Type': 'application/json'
          },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
          alert("done Borrowed")
        })
        .catch(error => {
            //console.alert('There has been a problem with your fetch operation:');
            alert('Failed to update availability');
        });

      }
      function deleteBook(bookId) {
        fetch(`/delete-book/${bookId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
        .then(response => response.json())
        .then(data => {
          alert("Book Deleted")
        });
      }
    </script>
</body>
</html>