<html>

<head>
    <meta charset="utf-8">
    <title>e BookNest | delete books</title>
    <link rel="icon" type="image/x-icon" href="../images/logopng-removebg.ico">
    <link rel="stylesheet" href="../Style/add.css">
    <link rel="stylesheet" href="../Style/Styles.css">
</head>

<body style="background-image: ;">
    <div>
        <nav class="navbar" id="navbar">
            
        </nav>
        <hr style="border: 1px solid burlywood;border-radius: 5px;">
    </div>
    <div>
        <div class="delete">
            <form action="../home_page/home.html" id="form">
                
            </form>
        </div>
        
    </div>
    <script src ='../JavaScript/delete.js'></script>
</body>

</html>