<!DOCTYPE html>
<html>
<html lang="en">
{% load static %}

<head>
  <link rel="icon" type="image/x-icon" href="{% static 'image/logopng-removebg.ico' %}">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <style>
    .container {
      width: 100%;
      height: 100vh;
      background-image: url("{% static 'image/People sitting at bookshelves and reading books in bookstore (1).jpg' %}");
      background-position: center;
      background-size: cover;
      background-attachment: scroll;
      position: relative;

    }
  </style>
</head>

<body>
  <div class="container">
    <div class="form">
      <img src="{% static 'image/logopng-removebg.png' %}">
      <h1>eBook nest</h1>
      <h2>Admin SignUp</h2>
      <div class="singup">
        <h3>Please Enter your personal informations</h3>
        <form>
          <div class="input">
            <label for="Fname">
              First name:
            </label>
            <input method="POST" id="Fname" type="text" placeholder="Enter your first name" required>
            <br> <br>
          </div>
          <div class="input">
            <label for="Lname">
              Last name:
            </label>
            <input method="POST" id="Lname" type="text" placeholder="Enter your Family name" required>
            <br> <br>
          </div>
          <div class="input">
            <label for="e-mail">
              E-mail:
            </label>
            <input method="POST" id="e-mail" type="text" placeholder="Enter your e-mail address" required>
            <br> <br>
          </div>
          <p class="invalidinput"></p>
          <div class="input">
            <label for="password">
              Password:
            </label>
            <input method="POST" id="password" type="password" placeholder="Enter your password" required>
            <br> <br>
          </div>
          <p class="invalidinput"></p>
          <div class="input">
            <label for="passwordconfirmation">
              Confirm password:
            </label>
            <input method="POST" id="passwordconfirmation" type="password" placeholder="Confirm your password" required>
            <br> <br>
          </div>
          <p class="invalidinput"></p>
          <div class="input">
            <label for="address">
              Address:
            </label>

            <input method="POST" id="address" type="text" placeholder="Enter your address" required>
            <br> <br>
          </div>
          <div class="input">
            <label for="phonenumber">
              Phone number:
            </label>
            <input method="POST" id="phonenumber" input type="tel" placeholder="01123456789" required>

            <br> <br>
          </div>

          <p class="invalidinput"></p>
          <div class="wrap">
            <button type="submit" id="userbtn" formaction="{% url 'signinAdmin' %}">
              Sign up
            </button>
          </div>
        </form>
      </div>

    </div>

  </div>
  <script>
    const password_regex = /(?=.*[A-Z]+)(?=.*[a-z]+)(?=.*[^A-Za-z0-9]+)(?=.*[0-9]+)(?=.{8,})/
    const emailRegex = /(?=\w+[@]+)(?=.+\.(com$|edu$|info$))/

    var pass = document.getElementById("password")
    var cpass = document.getElementById("passwordconfirmation")
    var email = document.getElementById("e-mail")
    var number = document.getElementById("phonenumber")
    var btn = document.getElementById("userbtn")
    fetch('/loaduser/')
      .then(response => response.json())
      .then(data => {
        const users = JSON.parse(data); // Parse the JSON string to a JavaScript object
        console.log(users);
        load(users);
      })
      .catch(error => console.error('Error fetching books:', error));

    function load(users) {

      function form(PASS, CPASS, EMAIL, NUMBER) {

        this.checkPass = () => {
          let para = document.getElementsByClassName("invalidinput")[1]
          if (!(password_regex.test(PASS))) {
            para.innerText = ((PASS == '' || PASS == null) ? "*Please enter a password" : "*Password doesn't match the pattern")
            return false
          }
          else {
            para.innerText = ''
            return true
          }
        };
        this.checkConfirmPass = () => {
          let para = document.getElementsByClassName("invalidinput")[2]
          if (CPASS !== PASS) {
            para.innerText = "*Password doesn't match"
            return false
          }
          else {
            para.innerText = ''
            return true
          }
        };
        this.checkEmail = () => {
          let found = false;

          for (let i = 0; i < users.length; i++) {

            if (users[i].fields.email == EMAIL) {
              found = true;
              break;
            }
          }

          let para = document.getElementsByClassName("invalidinput")[0]
          if (!(emailRegex.test(EMAIL))) {
            para.innerText = "*Invalid Email"
            return false
          }
          else if (found) {
            para.innerText = "*Already in use"
            return false
          }

          else {
            para.innerText = ''
            return true
          }
        };
        this.checkNum = () => {
          let para = document.getElementsByClassName("invalidinput")[3]
          if (!((/[0-9]{11}/)).test(number.value)) {
            para.innerText = "*Invalid Phone Number"
            return false
          }
          else {
            para.innerText = ""
            return true
          }
        };
        this.eval = [this.checkPass(), this.checkConfirmPass(), this.checkEmail(), this.checkNum()].includes(false);
      }


      btn.addEventListener("click", function (event) {
        const formValidity = new form(pass.value, cpass.value, email.value, number.value)

        if (formValidity.eval) {
          event.preventDefault()
        } else {
          const data = {
            first_name: document.getElementById("Fname").value,
            last_name: document.getElementById("Lname").value,
            email: email.value,
            password: pass.value,
            isUser: 0,
            address: document.getElementById("address").value,
            phone_number: number.value,
          }
          fetch('/saveuser/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
          })
            .then(response => response.json())
            .then(data => {
              if (data.status) {
                alert('Sign up successful!');
                window.location.href = '/signinAdmin/';  // Redirect to sign in page
              } else {
                alert('Sign up failed: ' + data.error);
              }
            })
            .catch(error => {
              
            });
        }
      })
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
    }
  </script>

</body>

</html>

</html>
